/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
    --primary: #FBBF24;
    --secondary: #1E293B;
    --hover-light: rgba(0, 0, 0, 0.05);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('movingimage.jpg');
    background-size: cover;
    background-position: center;
    animation: moveBackground 10s linear infinite;
}

@keyframes moveBackground {
    0% {
        background-position: center top;
    }
    50% {
        background-position: center -10%;
    }
    100% {
        background-position: center top;
    }
}

html {
    scroll-behavior: smooth;
}

.section-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.5rem;
    color: var(--foreground);
}

.section-description {
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: center;
    max-width: 40rem;
    margin: 0 auto;
    color: var(--foreground);
}

.resume-link {
    display: inline-block;
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 1.5rem;
    color: var(--foreground);
    text-decoration: underline;
    transition: color 0.3s;
}

.resume-link:hover {
    color: var(--primary);
}

.skill-button {
    display: inline-block;
    background-color: var(--secondary);
    color: white;
    padding: 0.5rem 1.25rem;
    border-radius: 9999px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background-color 0.3s;
    margin: 0.5rem;
}

.skill-button:hover {
    background-color: var(--hover-light);
    transform: scale(1.05);
}

.project-tile {
    transition: transform 0.3s, box-shadow 0.3s;
}

.project-tile:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

.animate-marquee {
    display: inline-flex;
    animation: marquee 20s linear infinite;
}

nav {
    backdrop-filter: blur(8px);
}

.hero-section {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    color: white;
}

nav {
    height: auto;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

